.unauthorised {
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  padding: 5rem 0;

  &__heading {
    font-size: 3rem;
    color: var(--majorelle-blue);
  }

  &__401 {
    font-size: 12rem;
    color: var(--light-red);
  }

  &__description {
    font-size: 1.3rem;
    text-align: center;
    color: var(--rich-black);
  }
  
}
