/* Red Hat Mono */
@font-face {
  src: url('/fonts/RedHatMono/RedHatMono-VariableFont_wght.ttf')
    format('truetype');
  font-family: 'Red Hat Mono';
  font-style: normal;
}
@font-face {
  src: url('/fonts/RedHatMono/RedHatMono-Italic-VariableFont_wght.ttf')
    format('truetype');
  font-family: 'Red Hat Mono';
  font-style: italic;
}

/* Hack Nerd Font Mono */
@font-face {
  src: url('/fonts/HackNF/HackNerdFontMono-Regular.ttf') format('truetype');
  font-family: 'Hack';
  font-style: normal;
  font-weight: normal;
}
@font-face {
  src: url('/fonts/HackNF/HackNerdFontMono-Italic.ttf') format('truetype');
  font-family: 'Hack';
  font-style: italic;
  font-weight: normal;
}
@font-face {
  src: url('/fonts/HackNF/HackNerdFontMono-Bold.ttf') format('truetype');
  font-family: 'Hack';
  font-style: normal;
  font-weight: bold;
}
@font-face {
  src: url('/fonts/HackNF/HackNerdFontMono-BoldItalic.ttf') format('truetype');
  font-family: 'Hack';
  font-style: italic;
  font-weight: bold;
}

:root {
  --cultured: #f6fcf3;
  --dark-cultured: #d0d0d0;
  --secondary-button: #e7f7de;

  --sunglow: #f6d32d;
  --goldenrod: #d5a021;

  --pale-green: #adfc92;
  --very-light-malachite-green: #57e389;
  --majorelle-blue: #6352dd;


  --grape: #7a29a8;
  --american-purple: #3e1556;
  --rich-black: #020401;
  font-size: 18px;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--cultured);
  color: var(--rich-black);
  font-family: 'Red Hat Mono';
}
