.edit-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  min-height: 100vh;

  line-height: 1.5rem;
  margin: 2rem auto;
  padding: 5rem 0;
  width: 30rem;

  &__title {
    font-size: 2rem;
    text-align: center;
  }

  .__data {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__button {
    margin-top: 1rem;
    width: 100%;
  }

  &__form {
    display: flex;
    flex-direction: column;

    &--recaptcha {
      display: flex;
      justify-content: center;
    }
  }
}

@media only screen and (max-width: 1450px) {
  .edit-user {
    margin: 0 auto;
  }
}

@media only screen and (max-width: 848px) {
  .edit-user {
    width: 100%;
    &__form {
      width: 100%;
      padding: 0 1rem;
    }
  }
}

@media only screen and (max-width: 510px) {
  .edit-user {
    width: 100vw;
    &__title {
      font-size: 1.5rem;
    }
  }
}
