.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50rem;
  line-height: 1.5rem;

  margin: 2rem auto;
  padding: 5rem 0;

  &__heading {
    margin-bottom: 1rem;
    font-size: 2rem;
    text-align: center;
  }

  &__description {
    display: flex;
    justify-content: center;

    &--text {
      text-align: center;
    }
  }
}

@media only screen and (max-width: 1450px) {
  .about {
    margin: 0 auto;
  }
}

@media only screen and (max-width: 848px) {
  .about {
    width: 100%;

    &__description {
      margin: 0 2rem;
      &--text {
        text-align: center;
      }
    }
  }
}

@media only screen and (max-width: 510px) {
  .about {
    padding: 4rem 0;

    &__heading {
      margin-bottom: 1rem;
      font-size: 1.2rem;
    }

    &__description {
      &--text {
        font-size: 0.7rem;
      }
    }
  }
}
