.post-edit {
  min-height: 75vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  padding: 5rem 1rem;
  gap: 1rem;

  &__title {
    grid-row: 1;
    grid-column: span 2;
    text-align: center;
  }

  &__form {
    width: 100%;
    outline: none;
    min-height: inherit;
    grid-row: 2;
    grid-column: 1;
    form {
      display: flex;
      flex-direction: column;
      height: 100%;
    }
    button {
      align-self: center;
    }
    &--recaptcha {
      display: flex;
      justify-content: center;
      padding-bottom: 1rem;
    }
  }

  &__markdown {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    grid-row: 2;
    grid-column: 2;
  }
}

@media only screen and (max-width: 1450px) {
  .post-edit {
    padding: 4rem 1rem;
  }
}

@media only screen and (max-width: 910px) {
  .post-edit {
    &__title {
      font-size: 1.5rem;
    }
    &__form {
      grid-row: 3;
      grid-column: span 2;
    }
    &__markdown {
      grid-row: 2;
      grid-column: span 2;
    }
  }
}

@media only screen and (max-width: 510px) {
  .post-edit {
    width: 100vw;
    &__title {
      font-size: 1.2rem;
    }
  }
}
