.searchpost {
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  line-height: 1.5rem;
  min-height: 100vh;
  width: 30rem;
  gap: 2rem;

  &__title {
    font-size: 2rem;
    text-align: center;
  }

  &__data {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

@media only screen and (max-width: 848px) {
  .searchpost {
    width: 100%;
    padding: 0 1rem;
  }
}

@media only screen and (max-width: 510px) {
  .searchpost {
    &__title {
      font-size: 1.2rem;
    }
  }
}

