.markdown {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: inherit;
  width: 100%;
  word-break: break-all;

  ol,
  ul {
    margin-left: 1rem;

    li {
      list-style-position: inside;
    }
  }

  img,
  svg[role='graphics-document document'] {
    margin: 0 auto;
    display: block;
    line-height: 1rem;
  }
}

@media only screen and (max-width: 510px) {
  .markdown {
    font-size: 0.5rem;
  }
}
