.post__card {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;

  a {
    text-decoration: none;
    color: inherit;
  }

  &--title {
    color: var(--majorelle-blue);
  }

  &--date {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-style: italic;
    b {
      color: var(--goldenrod);
    }
  }

  &--buttons {
    display: flex;
    gap: 1rem;
  }

  &--edit {
    padding: 0 0.8rem;
  }

  &--delete {
    padding: 0 0.8rem;
  }

  &--tags {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.3rem;
    font-family: 'Hack';
    font-size: 0.6rem;
  }

  &--tag {
    background: var(--pale-green);
    padding: 0 1rem;
  }
}

@media only screen and (max-width: 510px) {
  .post__card {
    gap: 0.1rem;

    &--title {
      font-size: 1.1rem;
      color: var(--majorelle-blue);
    }

    &--date {
      font-size: 0.7rem;
    }
    &--description {
      font-size: 0.7rem;
    }

    &--tags {
      font-size: 0.4rem;
      line-height: 1rem;
    }

    &--tag {
      line-height: 0.5rem;
      border-width: 1px;
      padding: 0.1rem 0.3rem;
      border-radius: 0.2rem;
    }
  }
}
