.searchinput {
  width: 100%;
  border-width: 1px;
  border-style: solid;
  border-color: var(--rich-black);
  background-color: var(--cultured);
  padding: 0.5rem;
  color: var(--rich-black);
  outline: none;

  &:focus {
    border-color: var(--goldenrod);
  }
}

@media only screen and (max-width: 510px) {
  .searchinput {
    font-size: 0.7rem;
  }
}
